.tacho-platzhalter {
  width: 350px;
  height: 250px;
  border: 2px dashed var(--navy-300);
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--navy-700);
  border-radius: 15px;
  font-style: italic;
}