@font-face {
  font-family: 'Inter';
  src: url(fonts/Inter.ttf) format('truetype');
}

:root {
  --navy-900: #293241; 
  --navy-700: #3D5A80;
  --navy-300: #98C1D9;
  --mint-100: #E0FBFC;
  --primary-color: #EE6C4D; 
  --bg-light: #F4F8F9; 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--bg-light); 
  color: #333333;
}